* {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #fbfbfb;
}

h1{
    font-size: 9vmin;
}
h1::first-letter{
    font-size: 15vmin;
}

h2{
    font-size: 8vmin;
}

h3{
    font-size: 6vmin;
}

h5{
    font-size: 3.5vmin;
}

html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color:#273243;
}

a {
    text-decoration:none;
}



/* Custom Start */
section {
    padding-bottom: 5vmin;
    padding-top: 2vmin;
}

section#header{
    padding-top: 0;
}

section#keyword{
    border-radius: 0% 0% 10% 10%;
    width: 100%;
}
.backgroud_blur {
    background-color: #e2e2e210;
    margin: 0 2.5% 0 2.5%;
    border-radius: 2.5vmin;
    padding: 3vmin 0 3vmin;
}


section#subkeyword{
    background-color: #5c6e76;
    border-radius: 15% 15% 0% 0% ;
}

.title {
    margin-bottom: 5vmin;
    position: relative;
    
}

.title_text {
    position: relative;
}

#year_text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    white-space:pre-wrap;
    position:absolute;
    right: 3vmin;
    z-index: 100;
    color: #fbfbfb;
    font-size: 2.5vmin;
    font-weight: bolder;
    background-color: #e0876a;
    border-radius: 0 0 1vmin 1vmin;
    height: 13.5vmin;
    padding-top: 1.5vmin;
}

#date_text{
    white-space:pre-wrap;
    text-align: center;
    position:absolute;
    right: 6.5vmin;
    z-index: 200;
    color: #fbfbfb;
    font-size: 4vmin;
    font-weight: bolder;
    height: 13.5vmin;
    padding-top: 0.7vmin;
}


select {
    width: 100%;
    height: 100%;
    font-size: 3vmin;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1vmin;
    background-color: #5c6e76;
    border: none;
    border-bottom: 2px solid #5c6e76;
    color: white;
    padding: 10px;
    padding-right: 38px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Adding transition effect */
    transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}
/* For IE <= 11 */
select::-ms-expand {
display: none; 
}

select:hover,
select:focus {
color: #5c6e76;
background-color: white;
border-bottom-color: #000000;
border-bottom-width: 1vmin;
}

.select_box {
    position: relative;
}
.select-icon {
    position: absolute;
    top: 1vmin;
    right: 0.3vmin;
    /* width: 8vmin; */
    /* height: 5vmin; */
    pointer-events: none;
    /* border: 2px solid #ffffff; */
    margin-right: 1.75vmin;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.select-icon svg.icon {
transition: fill 0.3s ease;
fill: white;
}

select:hover ~ .select-icon,
select:focus ~ .select-icon {
  /* background-color: white; */
  /* border-color: #000000; */
  /* border-width: 1vmin; */
}
select:hover ~ .select-icon svg.icon,
select:focus ~ .select-icon svg.icon {
  fill: #5c6e76;
}



ol {
    list-style: none; counter-reset: li;
}

ol {
    -webkit-columns: 2;
    -moz-columns: 2;
        columns: 2;
    padding-left: 0;
}

li {
    /* counter-increment: li; */
    font-size: 3vmin;
    border-radius: 1vmin;
    list-style-position: inside;
    -webkit-column-break-inside: avoid;
              page-break-inside: avoid;
                   break-inside: avoid;
}

.rectangle-list li{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: 0 0 0.7vmin 7.5vmin;
    background: #4254704b;
    color: #fbfbfb;
    text-decoration: none;
    transition: all .3s ease-out;
}

.rectangle-list li:hover{
    background: #e0876a35;
}

.rectangle-list li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #5c6e76;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    border-radius: 1vmin;
}

.rectangle-list li:after{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.rectangle-list li:hover:after{
    left: -.5em;
    border-left-color: #e0876a;
}

.rectangle-list li.active{
    color: #fff;
    background: #e0876a;
    font-weight: bold;
}

.rectangle-list li.active:after{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
    left: -.5em;
    border-left-color: #e0876a;
}

.keyword_subkeyword_leaderboard.rectangle-list li:before{
    background: #e0876a;
}

#keyword_cloud {
    /* width: 100%; */
    height: 50vh;
}

.container-fluid{
    padding: 0 !important;
}

#keyword_text {
    margin-bottom: 8vmin;
    background-color: #e0876a;
    border-radius: 0 2.5vmin 2.5vmin 0;
    width: 50%;
}
@media (max-width: 1200px) {
    #keyword_text {
        width: 100%;
        border-radius: 2.5vmin;
    }
}

.progress {
    height: 7vmin;
    margin: 0.7vmin;
    font-size: 3vmin;
}

div.pull-right {
    padding: 0.5vmin 0vmin 0.5vmin 2vmin;
    font-size: 3vmin;
}

.bg-success {
    background-color: #54825f !important;
}
.bg-info {
    background-color: #40658e !important;
}
.bg-danger {
    background-color: #934444 !important;
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

#subkeyword_cloud {
    /* width: 100%; */
    height: 50vh;
    /* border-radius: 1vmin;
	box-shadow: 0 10px 35px rgba(62, 9, 11, .3); */
}

.sentiment_canvas {
    height: 40vh;
    margin-top: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 100%;
    position: relative; 
}

.card {
    background-color: #ad9f9a5b;
    border-radius: 1vmin;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    display: block;
    margin: 2vmin;
    overflow: hidden;
    filter: grayscale(80%);
}

.card:hover {
    filter: grayscale(0%);
    background-color: #fbfbfb ;
}

.card.middle-viewport {
    filter: grayscale(0%);
    background-color: #fbfbfb ;
}

.card-title {
    color: #000;
}
.card-title:hover {
    color: #c3542f;
}

.grid-item a {
    color: #000;
}

a.card-link {
    color: #e0876a;
}

.grid-item a:hover {
    color: #e0876a;
}

